<html lang="en">
  <head>
    <%- include('../header'); -%>
    <link rel="stylesheet" href="password.css" />
  </head>
  <body>
    <div class="container faixa1">
      <p class="item">Esqueceu sua senha?</p>
      <p class="item2">Insira o e-mail cadastrado para que possamos enviar o link de recuperação.</p>
    </div>
    <div class="container faixa2">
      <div class="input-field">
        <i class="fas fa-envelope"></i>
        <input type="email" id="sing-up-email" placeholder="Email" />
    </div>
    <button>Enviar</button>
    </div>
  </body>
</html>
