* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
height: 100%;
width: 100%;
font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}
.faixa1 {
  background-color: #52A199;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
}
.faixa2 {
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
}

.item {
  font-size: 4em;
  font-weight: 600;
  color: #FFFFFF;
}

.item2 {
  margin-top: 25px;
  font-size: 1.2em;
  color: #f0f0f0;
}

.input-field {
  max-width: 450px;
  width: 100%;
  background-color: #f0f0f0;
  margin-left: 40px;
	height: 60px;
	border: 1px solid black;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}



button {
border-radius: 20px;
border: 1px solid #FFFFFF;
background-color: #52A199;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
transition: transform 80ms ease-in;
margin: 30px 0 0 40px;
}

button:active {
transform: scale(0.95);
}

button:focus {
outline: none;
}

button.ghost {
background-color: transparent;
border-color: #FFFFFF;
}